{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static', 'css/index.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/buttons.css')}}">
<script>
    var tracks_url = "{{=URL('api', 'get_tracks')}}";
    var widget_url = "{{=URL('api', 'get_widgets')}}";
    var del_track_url = "{{=URL('api', 'del_track', user_signature=True)}}";
    var add_track_from_spotify_url = "{{=URL('api', 'add_track_from_spotify', user_signature=True)}}";
    var add_track_from_soundcloud_url = "{{=URL('api', 'add_track_from_soundcloud', user_signature=True)}}";
    var add_track_to_library_url = "{{=URL('api', 'add_track_to_library', user_signature=True)}}";
    var add_widget_to_library_url = "{{=URL('api', 'add_widget_to_library', user_signature=True)}}";
    var current_user = "{{=auth.user.email if auth.user_id else None}}";
</script>

{{end}}

<div class="main-content" id="vue-div">
    <h2 id="search_title">Search</h2>
    <div class="search">
        <div id="soundcloud_div" class="centered">
            <input class="search-field soundcloud-search" id="soundcloud_input" placeholder="SoundCloud" type="text" size="50" v-model="form_widget">
            <button class="btn btn-primary btn-gradient" v-bind:class="{'disabled': !logged_in}" v-on:click="add_track_from_soundcloud">Search</button>
        </div>
        <div v-for="w in widgets" v-if="w.user_email==user_email && logged_in">
            <iframe width="100%" height="150" scrolling="no" frameborder="no" :src="w.url"></iframe>
            <button v-on:click="add_widget_to_library(w.id)">Add to Library</button>
        </div>

        <div id="spotify_div" class="centered">
            <select id="dropdown" v-on:change="dropdown_select">
                <option value="tracks">Tracks</option>
                <option value="artist">Artist</option>
            </select>
            <input class="search-field spotify-search" id="spotify_input" placeholder="Spotify" type="text" size="50" v-model="form_input">
            <button v-if="dropdown=='tracks'" class="btn btn-primary btn-gradient" v-on:click="add_track_from_spotify" id="add_track_from_spotify_submit" v-bind:class="{'disabled': !logged_in}">Search</button>
            <button v-if="dropdown=='artist'" class="btn btn-primary btn-gradient" v-on:click="add_track_from_spotify" id="add_track_from_spotify_submit" v-bind:class="{'disabled': !logged_in}">Search</button>
        </div>
    </div>
    <div v-if="logged_in">
        <a href="{{=URL('default', 'library')}}" class="btn btn-primary" v-if="logged_in">Library</a>
        <div v-for="t in tracks" class="spotify_search" v-if="t.user_email==user_email">
            <div id="song_text">
                <p id="title">${t.title}</p>
                <p>Artist: ${t.artist}</p>
                <p>Album: ${t.album}</p>
            </div>
            <p v-if="t.track_source=='spotify'" id="spotify_widget"><iframe id="iframe" v-bind:src="t.audio_file" width="300" height="80" frameborder="0" allowtransparency="true"></iframe></p>
            <button v-on:click="add_track_to_library(t.id)" v-if="logged_in" class="btn btn-info btn-gradient" id="library"><i class="fa fa-plus" aria-hidden="true"></i>Add to library</button>

        </div>
        <button id="get_more" v-on:click="get_more()" v-if="has_more">Load More</button>
    </div>
    <div v-else id="login_text">
        <h1>Log in to search and add songs to your library</h1>
    </div>
</div>



<script src="{{=URL('static', 'js/default_index.js')}}"></script>