{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static', 'css/index.css')}}">
<script>
    var tracks_url = "{{=URL('api', 'get_tracks')}}";
    var widget_url = "{{=URL('api', 'get_widgets')}}";
    var del_track_url = "{{=URL('api', 'del_track', user_signature=True)}}";
    var add_track_from_spotify_url = "{{=URL('api', 'add_track_from_spotify', user_signature=True)}}";
    var add_track_from_soundcloud_url = "{{=URL('api', 'add_track_from_soundcloud', user_signature=True)}}";
    var add_track_to_library_url = "{{=URL('api', 'add_track_to_library', user_signature=True)}}";
    var add_widget_to_library_url = "{{=URL('api', 'add_widget_to_library', user_signature=True)}}";
    var current_user = "{{=auth.user.email if auth.user_id else None}}";
</script>

{{end}}

<div class="main-content" id="vue-div">
    <div class="search">
        <div id="soundcloud_div" class="centered">
            <input class="search-field soundcloud-search" id="search-field-soundcloud" placeholder="SoundCloud" type="text" size="50" v-model="form_widget">
            <button class="btn btn-primary" v-bind:class="{'disabled': !logged_in}" v-on:click="add_track_from_soundcloud">Search</button>
        </div>
        <div v-for="w in widgets">
            <iframe width="100%" height="150" scrolling="no" frameborder="no" :src="w.url"></iframe>
            <button v-on:click="add_widget_to_library(w.id)">Add to Library</button>
        </div>

        <div id="spotify_div" class="centered">
            <select id="dropdown" v-on:change="dropdown_select">
                <option value="tracks">Tracks</option>
                <option value="artist">Artist</option>
            </select>
            <input class="search-field spotify-search" id="search-field-soundcloud" placeholder="Spotify" type="text" size="50" v-model="form_input">
            <button v-if="dropdown=='tracks'" class="btn btn-primary" v-on:click="add_track_from_spotify" id="add_track_from_spotify_submit" v-bind:class="{'disabled': !logged_in}">Search</button>
            <button v-if="dropdown=='artist'" class="btn btn-primary" v-on:click="add_track_from_spotify" id="add_track_from_spotify_submit" v-bind:class="{'disabled': !logged_in}">Search</button>
        </div>
    </div>
    <div v-if="logged_in">
        <a href="{{=URL('default', 'library')}}" class="btn btn-primary" v-if="logged_in">Library</a>
        <div v-for="t in tracks" class="spotify_search" v-if="t.user_email==user_email">
            <p id="artist">${t.artist}</p>
            <p>${t.user_email}</p>
            <p>Song: ${t.title}</p>
            <p>Album: ${t.album}</p>
            <p v-if="t.track_source=='spotify'"><iframe id="iframe" v-bind:src="t.audio_file" width="300" height="80" frameborder="0" allowtransparency="true"></iframe></p>
            <button v-on:click="add_track_to_library(t.id)" v-if="logged_in">Add to library</button>

        </div>
        <button id="get_more" v-on:click="get_more()">Load More</button>
    </div>
    <div v-else>
        <h1>Logged in to search and add songs</h1>
    </div>
</div>



<script src="{{=URL('static', 'js/default_index.js')}}"></script>