{{extend 'layout.html'}}

{{block head}}
<script>
  var get_tracks_from_soundcloud_url = "{{=URL('api', 'get_tracks_from_soundcloud')}}";
  var spotify_url = "{{=URL('api', 'get_tracks_from_spotify')}}";
  
  var add_track_from_soundcloud_url = "{{=URL('api', 'add_track_from_soundcloud', user_signature=True)}}";
  var add_track_from_spotify_url    = "{{=URL('api', 'add_track_from_spotify', user_signature=True)}}";
  var add_track_from_local_url      = "{{=URL('api', 'add_track_from_local', user_signature=True)}}";
  
  var add_track_to_library_url = "{{=URL('api', 'add_track_to_library', user_signature=True)}}";
  
  var del_track_url = "{{=URL('api', 'del_track', user_signature=True)}}";
</script>
{{end}}

<div class="main-content" id="vue-div">
  
  <!-- Soundcloud bar -->
  <div class="centered">
    <input class="search-field soundcloud-search" id="search-field-soundcloud" type="text" placeholder="Soundcloud" />
    <div class="search-field-button soundcloud-search-button" id="soundcloud-search-button" v-on:click="add_track_from_soundcloud();">
      <i class="fa fa-plus"></i>
    </div>
  </div>
  
  <!-- Spotify bar -->
  <div class="centered">
    <select id="dropdown" v-on:change="dropdown_select">
        <option value="tracks">Tracks</option>
        <option value="artist">Artist</option>
    </select>
    <input class="search-field spotify-search" id="search-field-soundcloud" placeholder="Spotify" type="text" size="50" v-model="form_song">
    <div v-if="dropdown=='tracks'" class="search-field-button spotify-search-button" id="spotify-search-button" v-on:click="add_track_from_spotify">
      <i class="fa fa-search"></i>
    </div>
    <div v-if="dropdown=='artist'" class="search-field-button spotify-search-button" id="spotify-search-button" v-on:click="add_track_from_spotify">
      <i class="fa fa-search"></i>
    </div>
  </div>
  
  <!-- Local file upload -->
  <div class="centered">
    <input class="local-song-upload"       id="local-song-upload"       type="file" accept="audio/*" data-multiple-caption="{count} files selected" multiple />
    <label class="local-song-upload-label" id="local-song-upload-label" for="local-song-upload">
      <span id="local-song-upload-text">Upload your own music</span>
    </label>
    <div class="local-song-upload-button" v-on:click="upload_local_file();">
      <i class="fa fa-upload"></i>
    </div>
  </div>
  
  <div class="search-results">
    <iframe class="soundcloud-embed" v-for="trackUrl in soundcloudTracks"
      scrolling="no" frameborder="no" :src=trackURL>
    </iframe>
  </div>

  <div class="search-results" id="search-results" v-if="logged_in">
    <a class="btn btn-primary btn-gradient" href="{{=URL('default', 'library')}}">Library</a>
    <div v-for="t in spotifyTracks">
      <p>Artist: ${t.artist}</p>
      <p>Album: ${t.album}</p>
      <p>Song: ${t.title}</p>
      <p>Id: ${t.id}</p>
      <p v-if="t.track_source == 'spotify'"><iframe v-bind:src="t.audio_file" width="300" height="80" frameborder="0" allowtransparency="true"></iframe></p>
      <button v-on:click="add_track_to_library(t.id)">Add to library</button>
    </div>

    <button class="btn btn-default btn-gradient" id="get-more-button" v-on:click="get_more()">Load More</button>
  </div>

    <div v-else>
        <h1>Log in to search and add songs</h1>
    </div>
</div>

{{block page_end_js}}
<script src="{{=URL('static', 'js/default.index.js')}}"></script>
<script src="{{=URL('static', 'js/local-song-upload-label.js')}}"></script>
{{end}}