{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static', 'css/library.css')}}">
<script>
    var library_url = "{{=URL('api', 'get_library')}}";
    var del_track_url = "{{=URL('api', 'del_from_library', user_signature=True)}}";
    var current_user = "{{=auth.user.email if auth.user_id else None}}";
</script>
{{end}}

<div id="vue-div">
    <a href="{{=URL('default', 'index')}}" class="btn btn-primary btn-gradient">Index</a>
    <div class="spotify_library">
        <table style="width:100%;">
            <tr style="background: #FFF1E6;">
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
                <th></th>
                <th></th>
            </tr>
            <tr v-for="l in library" v-if="l.user_email==user_email && l.track_source=='spotify'" class="spotify" style="background: #FFF1E6;">
                <td>${l.title}</td>
                <td>${l.artist}</td>
                <td>${l.album}</td>
                <td><iframe v-if="l.track_source=='spotify'" v-bind:src="l.audio_file" width="300" height="80" frameborder="0" allowtransparency="true"></iframe></td>
                <td><button class="btn btn-danger"><i class="fa fa-trash-o" v-on:click="delete_track(l.id)"> Delete</i></button></td>
            </tr>
        </table>
    </div>
    <div v-for="l in library" v-if="l.user_email==user_email && l.track_source=='soundcloud'" style="background: #FFF1E6; border: 3px solid #FF7700;">
        <iframe width="300" height="80" scrolling="no" frameborder="no" :src="l.url"></iframe>
        <button class="btn btn-danger" style="float: right; margin: 10px;"><i class="fa fa-trash-o" v-on:click="delete_track(l.id)"> Delete</i></button>
    </div>

</div>

<script src="{{=URL('static', 'js/library.js')}}"></script>

