input.search-field
{
  border: 3px solid #000000;
  border-radius: 5px;
  color: #000000;
  font: 1.25pc "Roboto", "sans-serif";
  margin: 5px;
  padding: 3px 7px;
}

input.soundcloud-search
{
  background: #FFF1E6;
  border-color: #FF7700;
}

input.spotify-search
{
  background: #F7FFE6;
  border-color: #84BD00;
}

div.search{
  background: #eeeeee;
  padding: 30px 10px;
  border: 2px solid black;
}

div.centered
{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

div.main-content
{
  height: 100%;
  margin: 0 auto;
  max-width: 1600px;
  min-width: 800px;
  padding: 10px;
  width: 80%;
}

.spotify{
  font-size: 2em;
}




#iframe{
  border: 3px solid #84BD00;
}

#get_more{
  /*position: fixed;*/
  bottom: 10px;
  width: 20%;
}
