/*div.main-content*/
/*{*/
  /*font-size: 0pc;*/
  /*height: 100%;*/
  /*margin: 0 auto;*/
  /*max-width: 1600px;*/
  /*min-width: 800px;*/
  /*padding: 10px;*/
  /*width: 80%;*/
/*}*/

div.centered
{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

iframe.soundcloud-embed
{
  border: 5px solid #FF7700;
  border-radius: 5px;
  display: inline-block;
  height: 300px;
  padding: 0;
  margin: 5px;
  width: 300px;
}

p{
  font-size: 1pc;
}

select{
  width: 100px;
  height: 30px;
}